/****** BODY STYLE ******/

body {
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #cbdedd;
	text-decoration: none;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

/****** FONTS ******/

@font-face {
	font-family: fairview;
	src:url("..font/Fairview_Regular.otf");
}

/****** NAV STYLE ******/

nav {
	margin:0;
	color: #fff;
	background-color: #7faeab;
	position: absolute;
	top: right;
	list-style-type: none;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	width: 100%;
	text-align: right;
	letter-spacing: 2px;
	border-left: 3px;
}

li {
	display: inline-block;
	margin: 5px;
	padding-right: 10px;
	text-align: center;
	border-right: 1px solid white;
}

li:last-child {
	border-right: none;
}

/****** HEADER STYLE *****/

header {
	color:#fff;
	background-color: #7faeab;
	margin: 0;
	padding: 0;
	height: 800px;
	width: 100%;
	text-align: center;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
}



h1 {
	margin: 0;
	padding: 0;
	font-size: 90px;
	font-weight: 400;
	letter-spacing: 4px;
	line-height: 675px;
}

h2 {
	font-weight:400;
	margin-top:-230px;
	font-size: 30px;
	letter-spacing: 4px;
}

.arrow {
	margin-top: 45px;
}


@media (max-width: 1370px) {
	header {
		height: 650px;
	}

	h1 {
		line-height: 500px;
	}

	h2 {
		margin-top: -150px;
	}

	.arrow {
		margin-top: 70px;
	}
}


/****** CONTENT STYLE ******/

h3 {
	margin-top: 0;
	margin-bottom: 50px;
	padding-top: 50px;
	color: #7faeab;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-weight: 200;
	font-size: 40px;
	
}

p {
	font-family: "cabin", sans-serif;
	color: #81757e;
	text-align: left;
}

/****** ABOUT STYLE ******/

#about {
	background-color: #fff;
	height: 800px;
	width: 100%;
}

.about-section {
	margin-top: 50px;
}

.about-div {
	width: 450px;
	padding-left: 40px;
	font-size: 17px;
	}

.hilary {
	width:  75%;
}

.center-align {
	margin-left: 90px;
}

#about .arrow {
	display: block;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto; 
}


@media (max-width: 1370px){
	#about {
		height: 650px;
	}

	.about-section {
		margin-top: 0;
	}

	.center-align {
		margin-left: 120px;
	}

	.about-div {
		width: 450px;
		margin-left: 20px;
		font-size: 16px;
	}

	.hilary {
		width: 65%;
	}

	#about .arrow {
		margin-top: 100px;
	}
}

/****** PORTFOLIO STYLE ******/

#portfolio {
	background-color: #cbdedd;
	height: 800px;
	width: 100%;
}


.logos {
	margin-top: 270px;
}

@media (max-width: 1370px){
	#portfolio {
		height: 650px;
	}

	.logos {
		margin-top: 200px;
	}
}

/****** PROCESS STYLE ******/

#process {
	background-color: #fff;
	height: 800px;
	width: 100%;
}

.icons {
	margin-left: 20px;
	margin-top: 200px;
}

.process-icon {
	width: 75%;

}


@media (max-width: 1370px){
	#process {
		height: 650px;
	}

}

/****** CONTACT STYLE ******/

#contact {
	background-color: #cbdedd;
	height: 800px;
	width: 100%;
}

#contact a {
	color: #81757e;
}

#contact a:hover {
	color: #fff;
}


#contact p {
	font-size: 17px;
	margin: 17px;
}

.text-center {
	text-align: center;
}

.buttons {
	margin-top: 100px;
}


.up-arrow {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 250px; 
	}


@media (max-width: 1370px) {
	#contact {
		height: 650px;
	}

	#contact p {
		font-size: 15px;
		margin-top: 15px;
	}


	.up-arrow {
		display: block;
		margin-left: auto;
		margin-right: auto; 
		margin-top: 100px;
	}
}


