/****** BODY STYLE ******/

body {
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #cbdedd;
	text-decoration: none;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

/****** FONTS ******/

@font-face {
	font-family: fairview;
	src:url("..font/Fairview_Regular.otf");
}

/****** NAV STYLE ******/

nav {
	margin:0;
	color: #fff;
	background-color: #7faeab;
	position: absolute;
	top: right;
	list-style-type: none;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	width: 100%;
	text-align: right;
	letter-spacing: 2px;
	border-left: 3px;
}

li {
	display: inline-block;
	margin: 5px;
	padding-right: 10px;
	text-align: center;
	border-right: 1px solid white;
}

li:last-child {
	border-right: none;
}

/****** HEADER STYLE *****/

header {
	color:#fff;
	background-color: #7faeab;
	margin: 0;
	padding: 0;
	height: 800px;
	width: 100%;
	text-align: center;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	position: relative;
}



h1 {
	margin: 0;
	padding: 0;
	font-size: 90px;
	font-weight: 400;
	letter-spacing: 4px;
	line-height: 675px;
}

h2 {
	font-weight:400;
	margin-top:-230px;
	font-size: 30px;
	letter-spacing: 4px;
}

.arrow {
	position: absolute;
	left: 49%;
	bottom: 0;
	height: 22px;
	margin-bottom: 20px;
}


@media (max-width: 1370px) {
	header {
		height: 650px;
	}

	h1 {
		line-height: 500px;
	}

	h2 {
		margin-top: -150px;
	}
}

@media (max-width: 410px) { 
	header {
		height: 240px;
	}

	h1 {
		font-size: 35px;
		line-height: 200px;
	}

	h2 {
		font-size: 18px;
		margin-top: -50px;
	}

	nav {
		display: none;
	}

	.arrow {
		display: none;
	}

}

@media (max-width: 350px) {
	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 14px;
	}
}


/****** CONTENT STYLE ******/

h3 {
	margin-top: 0;
	margin-bottom: 50px;
	padding-top: 50px;
	color: #7faeab;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-weight: 200;
	font-size: 40px;
	
}

p {
	font-family: "cabin", sans-serif;
	color: #81757e;
	text-align: left;
}

@media (max-width: 410px) {
	h3 {
		font-size: 30px;
		padding-top: 25px;
	}
}


/****** ABOUT STYLE ******/

#about {
	background-color: #fff;
	height: 800px;
	width: 100%;
	position: relative;
}

.about-section {
	margin-top: 50px;
}

.about-div {
	width: 450px;
	padding-left: 40px;
	font-size: 17px;
	}

.hilary {
	width:  75%;
}

.center-align {
	margin-left: 90px;
}

#about .arrow {
	position: absolute;
	left: 49%;
	bottom: 0;
	height: 22px;
	margin-bottom: 20px;
}


@media (max-width: 1370px){
	#about {
		height: 650px;
	}

	.about-section {
		margin-top: 0;
	}

	.center-align {
		margin-left: 120px;
	}

	.about-div {
		width: 450px;
		margin-left: 20px;
		font-size: 16px;
	}

	.hilary {
		width: 65%;
	}
}

@media (max-width: 410px) {
	#about {
		height: 800px;
	}

	.hilary {
		display: block;
    	margin-left: auto;
    	margin-right: auto
	}

	.about-div {
		width: 100%;
		margin-top: 50px;
		margin-left: 0px;

	}

	p {
		text-align: center;
	}
}

@media (max-width: 350px) {
	#about {
		height: 900px;
	}
}

/****** PORTFOLIO STYLE ******/

#portfolio {
	background-color: #cbdedd;
	height: 800px;
	width: 100%;
	position: relative;
}


.logos {
	margin-top: 270px;

}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto; 
}

.portfolio-arrow {
	position: absolute;
	left: 49%;
	bottom: 0;
	height: 22px;
	margin-bottom: 20px;
}

@media (max-width: 1370px){
	#portfolio {
		height: 650px;
	}

	.logos {
		margin-top: 200px;
	}
}

@media (max-width: 410px) {
	#portfolio {
		height: 1050px;
	}

	.logos {
		margin-top: 25px;
	}

	.bpm-logo {
		margin-top: 50px;
	}

	.ovia-logo {
		margin-top: 50px;
	}

	.portfolio-arrow {
		display: none;
	}
}

/****** PROCESS STYLE ******/

#process {
	background-color: #fff;
	height: 800px;
	width: 100%;
	position: relative;
}

.icons {
	margin-left: 20px;
	margin-top: 200px;
}


.process-icon {
	width: 75%;
}

.process-arrow {
	position: absolute;
	left: 49%;
	bottom: 0;
	height: 22px;
	margin-bottom: 20px;
}

@media (max-width: 1370px){
	#process {
		height: 650px;
	}

	.icons {
		margin-top: 170px;
	}
}

@media (max-width: 410px) {
	#process {
		height: 1800px;
	}

	.process-icon {
		width: 40%;
		display: block;
    	margin-left: 80px;
	}

	.icons {
		margin-top: 10px;
	}

	.process-arrow {
		display: none;
	}
}

@media (max-width: 350px) {
	#process {
		height: 1450px;
	}
}

/****** CONTACT STYLE ******/

#contact {
	background-color: #cbdedd;
	height: 800px;
	width: 100%;
	position: relative;
}

#contact h3 {
	padding-bottom: 75px;
}

#contact a {
	color: #81757e;
}

#contact a:hover {
	color: #fff;
}


#contact p {
	font-size: 17px;
	margin: 17px;
}

.text-center {
	text-align: center;
}

.buttons {
	margin-top: 100px;
}


.up-arrow {
	position: absolute;
	left: 48%;
	bottom: 0;
	height: 45px;
	margin-bottom: 30px;
}


@media (max-width: 1370px) {
	#contact {
		height: 650px;
	}

	#contact h3 {
		padding-bottom: 0;
	}

	#contact p {
		font-size: 15px;
		margin-top: 15px;
	}


	.up-arrow {
		display: block;
		margin-left: auto;
		margin-right: auto; 
		margin-top: 100px;
	}
}

@media (max-width: 410px)  {
	.buttons {
		margin-top: 50px;
	}

	.pull-right { 
    float: none!important; 
	}

	.pull-left { 
    float: none!important; 
	}

	.resume-button {
		display: block;
		margin-left: auto;
		margin-right: auto; 
		margin-top: 25px;
	}

	.contact-button {
		display: block;
		margin-left: auto;
		margin-right: auto; 
	}
}

